footer{
    grid-area: footer;
    display: grid;
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.footer{
    position: relative;
    top: 550px;
}

.tarjetas{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.envio{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 60px;
}

.oca{
    height: 50px;
}

ul{
    list-style-type: none;
}