.btn {
    cursor: pointer;
}

.categoria{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    flex-direction: row;
}

.open-menu, .close-menu{
    display: none;
}

#check{
    display: none;
}


